.cart {
    display: inline-flex;
    align-items: center;

    transition: transform 0.3s ease 0s;

    &:hover {
        .icon {
            svg {
                transform: scale(1.2);
            }
        }
    }
}
