.categories {
    display: grid;
    grid-row-gap: 10px;

    > nav {
        display: grid;
        > a {
            text-decoration: none;
            background-color: #fff;
            border-bottom: 1px solid #e7e8ec;
            padding: 10px 15px;

            &.active {
                color: #007bff;
            }
        }
    }
}