.cart {
    position: relative;
    padding: 2rem 0;

    &__heading {
        position: relative;
    }

    &__title {
        margin: 0;
    }

    &__warning {
        margin: 2rem 0;
        font-size: 1rem;
    }

    &__btn-cart-empty {
        border-radius: 0 !important;
        font-size: 1.125rem !important;
    }

    &__total-price {
        > div {
            &:first-child {
                margin-bottom: 0.5rem;
                font-size: 1rem;
            }

            &:last-child {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }
}
