.cart {
    position: relative;
    padding: 2rem 0;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
    }

    &__warning {
        margin: 2rem 0;
        font-size: 1rem;
    }

    &__total-price {
        > div {
            &:first-child {
                margin-bottom: 0.5rem;
                font-size: 1rem;
            }

            &:last-child {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;

        padding-top: 1.5rem;
        border-top: 1px solid #d9d9d9;
    }
}
