.product {
    position: relative;
    overflow: hidden;

    border: 2px solid #f4f4f4;
    background: #f4f4f4;

    transition: border .3s ease 0s;

    &:hover {
        border: 2px solid #e74c3c;
    }
}

.image {
    position: relative;
    overflow: hidden;

    &:hover {

        .actions {
            transform: translateY(0);
        }
    }
}

.actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    transform: translateY(105%);
    transition: transform .3s ease 0s;
}

.btnLinkView,
.btnAddToCart {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 15px 10px;
    transition: all .3s ease 0s;

    &:hover {
        background-color: #e74c3c;
        color: #fff;
    }
}

.btnLinkView {
    color: #fff;
    background: #333;
}

.btnAddToCart {
    cursor: pointer;
    border: none;
    border-radius: none;
    outline: none;
    color: #333;
    background: #fff;
}

.detail {
    padding: 20px;
    text-align: center;
    background: #f4f4f4;

    transition: transform .5s cubic-bezier(.77,0,.175,1);
}

.product:hover .detail {
    transform: translateY(-56px);
    transition: transform .5s cubic-bezier(.77,0,.175,1);
}

.title {
    margin: 0 0 1rem 0;
}

.price {
    font-size: 20px;
    color: #e74c3c;
}

.addToCart {
    position: absolute;
    bottom: -100%;

    width: 100%;
    border-radius: 0!important;
    padding: 15px 10px!important;
    background-color: #e74c3c!important;
    border-color: #e74c3c!important;

    transition: all .5s cubic-bezier(.77,0,.175,1);

    &:hover {
        background-color: #c0392b!important;
        border-color: #c0392b!important;
    }
}

.product:hover .addToCart {
    bottom: 0;
    transition: all .5s cubic-bezier(.77,0,.175,1);
}