.product {
    position: relative;
    overflow: hidden;

    // border: 2px solid #f4f4f4;
    // background: #f4f4f4;

    transition: border 0.3s ease 0s;

    /* &:hover {
        border: 2px solid #e74c3c;
    } */
}

.image {
    position: relative;
    border: 2px solid #ecedef;

    &:hover {
        .actions {
            transform: translateY(0);
        }
    }
}

.actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    transform: translateY(105%);
    transition: transform 0.3s ease 0s;
}

.btnLinkView,
.btnAddToCart {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    padding: 15px 10px;
    transition: all 0.3s ease 0s;

    &:hover {
        background-color: #e74c3c;
        color: #fff;
    }
}

.btnLinkView {
    color: #fff;
    background: #333;
}

.btnAddToCart {
    cursor: pointer;
    border: none;
    border-radius: none;
    outline: none;
    color: #333;
    background: #fff;
}

.detail {
    padding: 20px;
    text-align: center;
}

.title {
    margin: 0 0 1rem 0;
}

.price {
    font-size: 20px;
    color: #6ad295;
    font-size: 22px;
    font-weight: 500;
}

.addToCart {
    border-radius: 0 !important;
    padding: 15px 10px !important;
    background-color: #6ad295 !important;
    border-color: #6ad295 !important;
    border-radius: 30px !important;
    text-transform: uppercase !important;

    &:hover {
        background-color: #c0392b !important;
        border-color: #c0392b !important;
    }
}
