.footer {
  grid-row-start: 3;
  grid-row-end: 4;

  padding: 20px 0;
}

.top {
  background-color: #f7f7f7;
  padding: 2rem 0;
}

.topWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}